<section>
    <img src="../../assets/img/superman.jpg" alt="foto" class="img-fluid w-100">
</section>

<section>
    <div class="container">
        <div class="row">
            <h1>EL HOMBRE DE ACERO</h1>
        </div>
        <div class="row">
            <p>El origen de Superman es la historia que relata la llegada de éste a la Tierra y el inicio de su carrera como súper héroe. Esta historia se ha adaptado de forma recurrente en radio, televisión y cine tras varias décadas de publicación en cómics.

                Jerry Siegel escribió la historia original con ilustraciones de Joe Shuster y se publicó como parte de la primera aparición en Action Comics #1 en (Junio de 1938). Con el tiempo, se establecieron más detalles sobre la historia original a medida que se publicaban otras. Éstas exploran detalles individuales como el planeta Kyrptón, la fuente de los poderes de Superman y su relación con otros personajes. Muchas de estas historias se contradicen entre sí debido a la falta de continuidad entre la Edad de oro y la Edad de plata.
                
                Debido a la adaptación de Superman en otros medios, su origen se ha cubierto frecuentemente. Estas historias se adhieren al marco básico creado por Siegel y Shuster con ligeras variaciones hechas para ayudar a entender la trama o atraer al público contemporáneo. Algunos de los detalles que se crearon para estas adaptaciones influenciaron la historia original de tal manera que forman parte del cómic actual.
                
                En años más recientes, se ha actualizado la historia de los cómics varias veces. En 1985, DC Comics publicó Crisis on Infinite Earths el cual dio la oportunidad de revisar la historia del Universo DC. El origen de Superman se contó de nuevo en la edición limitada de The Man of Steel de 1986 escrita e ilustrada por John Byrne. Esta historia se descontinuó y se remplazó por la edición limitada deSuperman: Birthright como el origen oficial de Superman, escrita por Mark Waid con ilustraciones de Leinil Francis Yu en 2003 y 2004. Después de la edición limitada de Infinite Crisis del 2005 y 2006, se modificó el origen de Superman de nueva cuenta a través del desarrollo de los acontecimientos de las nuevas publicaciones y de la mini serie Superman: Secret Origin del 2009 y 2010.</p>
        </div>
    </div>
</section>
